.main{
   display: flex;
   justify-content: center;
}

.container img{
    width: 6rem;
    background: none;
}
.initial{
    background-color: transparent;
    border-radius: 1rem;
    size: 15rem;
    cursor: pointer;
   border-style: outset;
   border-width: .5rem;
   border-color: darkblue;
   font-size: large;
   font-weight: 500;
}